version: "3.8"

services:
  api-gateway:
    build: ./api-gateway
    ports:
      - "3000:3000"
    env_file: ./api-gateway/.env
    depends_on:
      redis:
       condition: service_started
      rabbitmq:
       condition: service_healthy
    environment:
      - REDIS_HOST=redis   
      - REDIS_PORT=6379
      - RABBITMQ_URI=amqp://rabbitmq:5672    

  identity-service:
    build: ./identity-service
    ports:
      - "3001:3001"
    env_file: ./identity-service/.env
    depends_on:
      redis:
       condition: service_started
      rabbitmq:
       condition: service_healthy
    environment:
      - REDIS_HOST=redis   
      - REDIS_PORT=6379
      - RABBITMQ_URI=amqp://rabbitmq:5672

  media-service:
    build: ./media-service
    ports:
      - "3003:3003"
    env_file: ./media-service/.env
    depends_on:
      redis:
       condition: service_started
      rabbitmq:
       condition: service_healthy
    environment:
      - REDIS_HOST=redis   
      - REDIS_PORT=6379
      - RABBITMQ_URI=amqp://rabbitmq:5672

  post-service:
    build: ./post-service
    ports:
      - "3002:3002"
    env_file: ./post-service/.env
    depends_on:
      redis:
       condition: service_started
      rabbitmq:
       condition: service_healthy
    environment:
      - REDIS_HOST=redis   
      - REDIS_PORT=6379
      - RABBITMQ_URI=amqp://rabbitmq:5672

  search-service:
    build: ./search-service
    ports:
      - "3004:3004"
    env_file: ./search-service/.env
    depends_on:
      redis:
       condition: service_started
      rabbitmq:
       condition: service_healthy
    environment:
      - REDIS_HOST=redis   
      - REDIS_PORT=6379
      - RABBITMQ_URI=amqp://rabbitmq:5672

  redis:
    image: "redis:7.0-alpine"
    ports:
      - "6379:6379"

  rabbitmq:
    image: "rabbitmq:3.9-management-alpine"
    ports:
      - "5672:5672"
      - "15672:15672"
    healthcheck:
      test: [ "CMD", "rabbitmq-diagnostics", "-q", "ping" ]
      interval: 1m30s
      timeout: 30s
      retries: 5
      start_period: 30s 

